#intro {
    background-image: url(UDN1.jpg);
    background-size: cover;
    min-height: 140vh;
    width: 100%;
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-position;
    center;
}

.container-fluid {
    padding-right: 0;
    padding-left: 0;
    margin-right: auto;
    margin-left: auto
}

h1 {
    color: white;
    font-size: 70px;
    font-family: "PMingLiU";
    font-weight: "bold";
    font-weight: 900;
    text-shadow: 5px 5px 5px black;
    margin-left: 50px;
    top: 50vh;
    position: relative;
}

p{
    font-size: 22px;
    font-family: "PMingLiU";
    font-weight: "bold";
    text-align: left;
}


#video {
    position: fixed;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: -1;

}

.pt3{
    background-image: url("Border.jpg");
    background-size: 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 150vh;
    background-position: right;
}

.word3{
    color: black;
    background-color: white;
    background-position: fixed;
    font-size: 20px;
    width: 50%;
    height: 150vh;
    font-family: "PMingLiU";
    text-align: center;
    padding-top: 5%;
    padding-right: 3%;
    padding-left: 3%;
}

.conclusion {
background-image: url("ending.jpg");
background-size: cover;
background-repeat: no-repeat;
background-position: center;
background-attachment: fixed;
height: 100vh;
}

.endtext {
    color: white;
    font-size: 50px;
    font-family: "PMingLiU";
    font-weight: "bold";
    font-weight: 900;
    text-shadow: 5px 5px 5px black;
    margin-left: 50px;
    padding-top: 20%;
}

